* {
    margin: 0;
    padding: 0;
}

.game-section {
    display: grid;
    place-items: center;
}

.container {
    display: grid;
    height: 600px;
    width: 600px;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(16, auto);
}
.square {
    border: 1px solid #000000;
}